body{
    background: #75e7ff;
}
div{
    display: block;
}

#board{
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.table{
    background: #dbbeff;
    width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow-y: auto;
}
.table:first-child{
    margin-left: 8px;
}

.table-content{
    background: #dbbeff;
    width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.list-table {
    box-sizing: border-box;
    background-color: rgba(12, 95, 14, 0.7);
    height: 111px;
    width: 234px;
    margin: 10px;
    border-radius: 8px;
}